<header>
    <a href="/home/home/{{user.username}}"><img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px"></a>
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

<div class="wrapper">
        <section class="titlebar">
            <h1 class="page-title"><span>Completed Landing </span>Page Designs</h1>
            <div id="particles-js"></div>
        </section>
    
        <div class="cont">
            <section class="portfolio-single type-2 top_90">

                <div class="portfolio-images top_60 row">
  {{#each CompletedLanding}}

                <figure class="col-md-12 bottom_30">
                        <img src="{{this.landing_final_path}}" alt="{{this.landing_file_name}}" id="image" name="image">

                    </figure>
                    
                                        
                                                                        <div class="col-md-10 left-list">
                                    <small>{{this.brandtype}}</small>
                                    <h4 class="title">{{this._id}}</h4>
                                    <p>{{this.landing_file_name}}</p>
                                    <div class="information">Uploaded @ <span>{{this.landing_date}}</span>&nbsp; &nbsp;<span>{{this.landing_time}}</span></div>
                                </div>
                    
                           
    <a class="btn" href="{{this.landing_final_path}}" download style="width:100%;background:#1bafff;color: #fff;padding: 12px 12px;" target="_blank" rel="noopener"><i class="fa fa-download"></i> Download</a>
                       
  


            

                    
                    <div class="leave-reply top_90 container"></div>
                    {{/each}}

                  
                </div>


                <!-- Portfolio Nav -->
<!--
                <div class="col-md-12 portfolio-nav text-center top_90">
                    <a class="port-next" href="work-3.html">
                        <div class="nav-title">next</div>
                        <div class="next-title">Socialmedia design</div>
                    </a>
                </div>
-->

            </section>

        </div> <!-- cont end -->
    
    

        
        
    
    

    
    
    </div>

