<header>
    <a href="/home/home/{{user.username}}"><img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px"></a>
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

<div class="wrapper">
    
               <section class="titlebar">
            <h1 class="page-title"><span>Completed Menu </span>Card Designs</h1>
            <div id="particles-js"></div>
        </section>
    
    
        <div class="cont">
            <section class="portfolio-single type-2 top_90">

                <div class="portfolio-images top_60 row">
  {{#each CompletedMenu}}

                <figure class="col-md-12 bottom_30">
                    <iframe src = "{{this.menu_final_path}}" width="100%" height="700px" allowfullscreen ></iframe>
                    </figure>
                    
                                        
                                                                        <div class="col-md-10 left-list">
                                    <small>{{this.brandtype}}</small>
                                    <h4 class="title">{{this._id}}</h4>
                                     <p>{{this.menu_file_name}}</p>
                                    <div class="information">Uploaded @ <span>{{this.menu_date}}</span>&nbsp; &nbsp;<span>{{this.menu_time}}</span></div>
                                </div>
                    
                           
        <a class="btn" href="{{this.menu_final_path}}" download style="width:100%;background:#1bafff;color: #fff;padding: 12px 12px;" target="_blank" rel="noopener"><i class="fa fa-download"></i> Download</a>



                    
                    <div class="leave-reply top_90 container"></div>
                    {{/each}}

                  
                </div>

            </section>

        </div> <!-- cont end -->
    
    

        
        
    
    

    
    
    </div>

