<style>
blockquote{
  font-size: 1.4em;
  width:65%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
}
        @media only screen and (max-width:767px)
    {
        blockquote{
          width:100% !important;
        }

    }
</style>
    <header>
        <a href="/home/home/{{user.username}}"><img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px"></a>
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>


    <!-- SITE CONTENT -->
    <div class="wrapper">
        <section class="titlebar">
            <h1 class="page-title"><span>Completed </span>Works</h1>
            <div id="particles-js"></div>
        </section>
        
        <hr class="col-md-6 bottom_60">

                <style>
    .wrapper
            {
    padding: 1.2em 30px 1.2em 75px;
    background-image: url("/images/board.JPG");
    background-size:cover;
            }
                    blockquote
                    {
                        width:100% !important;
                    }
    @media only screen and (max-width:767px)
    {
           .wrapper
            {
            padding: 0px !important;
    background-image: url("/images/board.JPG");
    background-size:cover !important;
    }
        
        
    }
    </style>
        
        
        
<div class="cont col-md-6">
    <blockquote>
        <b>Designs</b>
                    <p><a href="/Completed/CompletedLogo/{{user._id}}/{{user.username}}">Logo Design</a></p>
                    <p><a href="/Completed/CompletedStationery/{{user._id}}/{{user.username}}">Stationery Design</a></p>
                    <p><a href="/Completed/CompletedBrochure/{{user._id}}/{{user.username}}">Brochure Design</a></p>
                    <p><a href="/Completed/CompletedMenu/{{user._id}}/{{user.username}}">Menu Card Design</a></p>
                    <p><a href="/Completed/CompletedLanding/{{user._id}}/{{user.username}}">Landing Page Design</a></p>
                    <p><a href="/Completed/CompletedPackage/{{user._id}}/{{user.username}}">Package Design</a></p>
                    <p><a href="/Completed/CompletedBanner/{{user._id}}/{{user.username}}">Banner Design</a></p>
                    <p><a href="/Completed/CompletedShirt/{{user._id}}/{{user.username}}">T-shirt Design</a></p>
                    <p><a href="/Completed/CompletedShop/{{user._id}}/{{user.username}}">In-Shop Design</a></p>
        <b>Videos</b>
                    <p><a href="/Completed/CompletedTwod/{{user._id}}/{{user.username}}">2d Videos</a></p>
                    <p><a href="/Completed/CompletedThreeD/{{user._id}}/{{user.username}}">3d Videos</a></p>
                    <p><a href="/Completed/CompletedExplainer/{{user._id}}/{{user.username}}">Explainer Videos</a></p>
                    <p><a href="/Completed/CompletedGreeting/{{user._id}}/{{user.username}}">Greeting Videos</a></p>
                    <p><a href="/Completed/CompletedPromotional/{{user._id}}/{{user.username}}">Promotional Videos</a></p>
                    <p><a href="/Completed/CompletedScribe/{{user._id}}/{{user.username}}">Scribe Videos</a></p>
                    <p><a href="/Completed/CompletedVoiceOver/{{user._id}}/{{user.username}}">Voice Over</a></p>
        <b>Ads</b>
                    <p><a href="/Completed/CompletedNewspaper/{{user._id}}/{{user.username}}">Newspaper Ads</a></p>
                    <p><a href="/Completed/CompletedMagazine/{{user._id}}/{{user.username}}">Magazine Ads</a></p>
                    <p><a href="/Completed/CompletedTheatre/{{user._id}}/{{user.username}}">Theatre Ads</a></p>
                    <p><a href="/Completed/CompletedTv/{{user._id}}/{{user.username}}">Tv Ads</a></p>
                    <p><a href="/Completed/CompletedDigital/{{user._id}}/{{user.username}}">Digital Ads</a></p>     
        
        <b>Miscellaneous</b>
                    <p><a href="/Completed/CompletedMiscellaneous/{{user._id}}/{{user.username}}">Miscellaneous</a></p>

        
        <b>Scripts</b>
                    <p><a href="/Completed/CompletedScripts/{{user._id}}/{{user.username}}">Scripts</a></p>


        
        
    </blockquote>
    

            <hr class="top_90 bottom_90 col-md-8">

        </div>


    
    </div> <!-- wrapper end -->
