
<header>
    <a href="/home/home/{{user.username}}"><img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px"></a>
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>


 <div class="wrapper">
        <section class="titlebar">
            <h1 class="page-title"><span>Logo </span>designs</h1>
            <div id="particles-js"></div>
        </section>
     
        
        <hr class="col-md-6 bottom_90">
     

     
                         {{#each Logo}}
                         {{#if Ongoing}}
     
            <div class="cont bg-space">
            <section class="our-news">
                <div class="row">
                    <!-- a news -->
                    {{#if Enable}}
                    <a href="/progress/OngoingLogoLargeView/{{this._id}}/{{this.toWhom}}" class="col-md-12 news-list bottom_60">
                        <article class="news-box row">
                            <figure class="col-md-2"><img src="{{this.logo_final_path}}" alt=""></figure>
                            <div class="col-md-10 left-list">
                                <small>{{this.brandtype}}</small>
                                <h4 class="title">{{this._id}}</h4>
                                <p>Click Here to View Enlarge ...</p>
                                <div class="information">{{this.owner}}, &nbsp; &nbsp;<span>{{this.logo_date}}</span>&nbsp; &nbsp;<span>{{this.logo_time}}</span></div>
                            </div>
                        </article>
                    </a>
                    {{/if}}        
                </div>
            </section>
        </div> <!-- cont end -->
                 
    
                {{/if}}
                    {{/each}}
  
                    <div class="text-center">
                        
                                <a href="/progress/giveMeAComment/{{user._id}}/{{user.username}}" class="text-center">Click here Leave a Reply</a>
                    </div>
     
     
    </div> <!-- wrapper end -->
