<style>
blockquote{
  font-size: 1.4em;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
}
    @media only screen and (max-width:767px)
    {
        blockquote{
          width:100% !important;
        }

    }
    
        
    .wrapper
            {
    padding: 1.2em 30px 1.2em 75px;
    background-image: url("/images/board.JPG");
    background-size:cover;
            }
             
    @media only screen and (max-width:767px)
    {
           .wrapper
            {
            padding: 0px !important;
    background-image: url("/images/board.JPG");
    background-size:cover !important;
    }
        
        
    }

</style>
    <header>
        <a href="/home/home/{{user.username}}"><img src="/images/logo.jpg" alt="" class="img-responsive" width="50px" height="50px"></a>
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>


    <!-- SITE CONTENT -->
    <div class="wrapper">
        <section class="titlebar">
            <h1 class="page-title"><span>Work </span>History</h1>
            <div id="particles-js"></div>
        </section>
        
        <hr class="col-md-6 bottom_60">

<div class="cont">
    

    <blockquote>
        <p>Designs</p>
                    <p><a href="/History/OngoingLogo-History/{{user._id}}/{{user.username}}">Logo Design</a></p>
                    <p><a href="/History/OngoingStationery-History/{{user._id}}/{{user.username}}">Stationery Design</a></p>
                    <p><a href="/History/OngoingBrochure-History/{{user._id}}/{{user.username}}">Brochure Design</a></p>
                    <p><a href="/History/OngoingMenu-History/{{user._id}}/{{user.username}}">Menu Card Design</a></p>
                    <p><a href="/History/OngoingLanding-History/{{user._id}}/{{user.username}}">Landing Page Design</a></p>
                    <p><a href="/History/OngoingPackage-History/{{user._id}}/{{user.username}}">Package Design</a></p>
                    <p><a href="/History/OngoingBanner-History/{{user._id}}/{{user.username}}">Banner Design</a></p>
                    <p><a href="/History/OngoingShirt-History/{{user._id}}/{{user.username}}">T-shirt Design</a></p>
                    <p><a href="/History/OngoingShop-History/{{user._id}}/{{user.username}}">In-Shop Design</a></p>
        <p>Videos</p>
                    <p><a href="/History/view-Ongoing-2d-History/{{user._id}}/{{user.username}}">2d Videos</a></p>
                    <p><a href="/History/OngoingThreeD-History/{{user._id}}/{{user.username}}">3d Videos</a></p>
                    <p><a href="/History/OngoingExplainer-History/{{user._id}}/{{user.username}}">Explainer Videos</a></p>
                    <p><a href="/History/OngoingGreeting-History/{{user._id}}/{{user.username}}">Greeting Videos</a></p>
                    <p><a href="/History/OngoingPromotional-History/{{user._id}}/{{user.username}}">Promotional Videos</a></p>
                    <p><a href="/History/OngoingScribe-History/{{user._id}}/{{user.username}}">Scribe Videos</a></p>
                    <p><a href="/History/OngoingVoiceOver-History/{{user._id}}/{{user.username}}">Voice Over</a></p>
        <p>Ads</p>
                    <p><a href="/History/ongoingNews-History/{{user._id}}/{{user.username}}">Newspaper Ads</a></p>
                    <p><a href="/History/ongoingMagazine-History/{{user._id}}/{{user.username}}">Magazine Ads</a></p>
                    <p><a href="/History/ongoingTheatre-History/{{user._id}}/{{user.username}}">Theatre Ads</a></p>
                    <p><a href="/History/ongoingTv-History/{{user._id}}/{{user.username}}">Tv Ads</a></p>
                    <p><a href="/History/ongoingDigital-History/{{user._id}}/{{user.username}}">Digital Ads</a></p>     
        
        <p>Miscellaneous</p>
                    <p><a href="/History/ongoingMiscellaneous-History/{{user._id}}/{{user.username}}">Miscellaneous</a></p>


        <p>Scripts</p>
                    <p><a href="/History/ongoingScripts-History/{{user._id}}/{{user.username}}">Scripts</a></p>


        
        
    </blockquote>
    

            <hr class="top_90 bottom_90 col-md-8">

        </div>
    </div> <!-- wrapper end -->
